/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.slider__block {
  display: block;
}

.slider__block .slider {
  display: block;
  height: 100vh;
  width: 70vw;
  position: relative !important;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider__block .slider .dot {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #1ecbc6;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}

.slider__block .slider .dot__left {
  position: absolute;
  top: 50%;
  left: -50px;
}

.slider__block .slider .dot__right {
  position: absolute;
  top: 50%;
  right: -50px;
}

.slider__block .slider .slider-item {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute !important;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: scale(0.5) translate(-100%, -100%);
  -ms-transform: scale(0.5) translate(-100%, -100%);
  transform: scale(0.5) translate(-100%, -100%);
  z-index: 50;
}

.slider__block .slider .side {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.slide__center {
  -webkit-transform: scale(1) translate(-50%, -50%) !important;
  -ms-transform: scale(1) translate(-50%, -50%) !important;
  transform: scale(1) translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  z-index: 100 !important;
}

.slide__visible {
  opacity: 1 !important;
}

.slide__left-side {
  -webkit-transform: scale(0.5) translateY(-100%) !important;
  -ms-transform: scale(0.5) translateY(-100%) !important;
  transform: scale(0.5) translateY(-100%) !important;
  top: 50% !important;
  left: 0 !important;
}

.slide__right-side {
  -webkit-transform: scale(0.5) translate(-200%, -100%) !important;
  -ms-transform: scale(0.5) translate(-200%, -100%) !important;
  transform: scale(0.5) translate(-200%, -100%) !important;
  top: 50% !important;
  left: 100% !important;
}